<!-- views/partials/menu.ejs -->
<nav class="bg-light p-3" style="min-width: 220px; height: 100vh;">
  <ul class="nav flex-column">
    <li class="nav-item"><a href="/" class="nav-link text-dark fw-bold">Home</a></li>
    <li class="nav-item"><a href="/home" class="nav-link text-dark fw-bold">Article</a></li>
    <li class="nav-item"><a href="/new-post" class="nav-link text-dark fw-bold">New Post</a></li>
  </ul>
</nav>
